<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" href="../resources/css/style.css">
 <title>Daniel Chan - Class of 2025 B.A Econ </title>
 </head>
 <body>
 <h1>Daniel Chan - Villanova Student</h1>
 <p>Last semester of my college career.</p>
 <img
 src="../resources/img/dog_staring.jpeg"
 alt="An image of a dog"
 width="220px"
/>
<a href="https://www1.villanova.edu/university/liberal-arts-sciences/programs/computingsciences.html">Link to Villanova Computing Sciences Department </a>
 </body>
</html>

