<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Daniel Chan's Fall 2024 Class Schedule</title>
</head>

<body>

  <body class="p-3 bg-dark text-white">
    <div id="navbar-container"></div>
    <h1>Fall 2024 Class Schedule</h1>
    <button id="toggle-schedule">Hide Schedule</button>
    <div id="schedule-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">11:00PM - 12:00PM</th>
            <td></td>
            <td>ECO 3200-003<br>Managerial Economics<br>(Bartley-3001)</td>
            <td></td>
            <td>ECO 3200-003<br>Managerial Economics<br>(Bartley-3001)</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">1:00PM - 2:00PM</th>
            <td>ECO 3200-002<br>Eco&BusinessPostRformChina<br>(Bartley-3069)</td>
            <td>CSC 4480-002<br>Principles of Database Systems<br>(Mendel-G88)</td>
            <td>ECO 3200-002<br>Eco&BusinessPostRformChina<br>(Bartley-3069)</td>
            <td>CSC 4480-002<br>Principles of Database Systems<br>(Mendel-G88)</td>
            <td>ECO 3200-002<br>Eco&BusinessPostRformChina<br>(Bartley-3069)</td>
          </tr>
          <tr>
            <th scope="row">2:00PM - 3:00PM</th>
            <td></td>
            <td>ECO 4200-001<br>Firms&Industry<br>(Bartley-3040)</td>
            <td></td>
            <td>ECO 4200-001<br>Firms&Industry<br>(Bartley-3040)</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">4:00PM - 5:00PM</th>
            <td>ASPD 2023-001<br>Navigating Roadblocks<br>(Vasey-208)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6:00PM - 9:00PM</th>
            <td>SAR 2021-100<br>Basic Drawing Techniques<br>(Vasey-207A)</td>
            <td></td>
            <td>CSC 2053-100<br>Platform Based Computing<br>(Mendel-G86)</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="../resources/js/script.js"></script>
    <script src="../resources/js/navbar.js"></script>
    <script>
      loadNavbar(); // Call the function to load the navbar
    </script>
  </body>

</html>