<!DOCTYPE html>
<html>
 <head>
 <title>Daniel Chan's Fall 2024 Class Schedule</title>
 </head>
 <body>
 <h1>Fall 2024 Class Schedule</h1>
 <table>
    <thead>
    <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td rowspan="2"></td><td>ECO 3200-003</td><td rowspan="2"></td><td>ECO 3200-003</td>
    <tr>
    <tr>
    <td>ECO 3200-002</td><td>CSC 4480-002</td><td>ECO 3200-002</td><td>CSC 4480-002</td><td>ECO 3200-002</td>
    </tr>
    <td rowspan="2"></td><td>ECO 4200-001</td><td rowspan="2"></td><td>ECO 4200-001</td>
    <tr>
    </tr><tr></tr>
    </tr><tr></tr>
    </tr><tr></tr> 
    <td>ASPD 2023-001</td>
    </tr>
    <td>SAR 2021-100</td><td>CSC 2053-100</td>
    <tr></tr>
    </tbody>
   </table>
 </body>
</html>


